/*Todo CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*# Generics */

body {
    font-family: 'Whitney Semibold', sans-serif;
    padding-top: 120px;
}

img {
    max-width: 100%;
    display: block;
    margin-bottom: 3px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

address {
    font-size: 12px;
    font-weight: 100;
    font-style: normal;
    color: #4d4d4d;
}

h2 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

/*# Utils */

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.border {
    border: 1px dashed red;
    min-height: 50px;
    min-width: 100px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.col {
    flex-basis: calc(100% / 3 - 10px);
}

.card {
    position: relative;
}

.badges {
    position: absolute;
    bottom: 30px;
    left: 0;
}

.box {
    padding: 4px 8px;
    font-size: 10px;
    color: #fff;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: darkgreen;
}

.prefe {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
}

.discount {
    color: red;
    font-size: 14px;
    font-weight: 600;
}

.price {
    font-size: 14px;
    font-weight: 100;
    text-decoration: line-through;
}


/** header  */

header {
    background-color: #FF6900;
    height: 70px;
    padding: 10px 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.box-link,
.box-logo,
.box-user {
    height: 50px;
    width: 100px;
    color: #fff;
}

/** main */

.layout {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.col:hover .layout {
    display: block;
}

.prefe:hover {
    color: red;
}

/** footer */

footer {
    height: 70px;
    padding: 10px 0;
    margin-top: 50px;
    background-color: #1A1A1A;
    border-bottom: 2px solid #fff;
}